openapi: 3.2.0
info:
  title: Partner Service Partner Invoice Credit Note Controller API
  license:
    name: Apache 2.0
    url: https://upgrad.com
  version: '1'
servers:
- url: https://partner.upgrad.com
  description: Generated server url
security:
- AUTH-TOKEN: []
tags:
- name: partner-invoice-credit-note-controller
paths:
  /update-partner-invoice-credit-note:
    put:
      tags:
      - partner-invoice-credit-note-controller
      operationId: updatePartnerInvoiceCreditDetails
      parameters:
      - name: partnerInvoiceCreditNoteId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: partnerInvoiceFlowId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
      summary: Update partner invoice credit details
      x-summary-source: derived
  /invoice/{userId}/document:
    post:
      tags:
      - partner-invoice-credit-note-controller
      operationId: uploadInvoiceDocument
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: code
        in: query
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
      - name: partnerInvoiceCreditNoteId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - files
              type: object
              properties:
                files:
                  type: string
                  format: binary
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
      summary: Upload invoice document
      x-summary-source: derived
  /partner-invoice-credit-note-report:
    get:
      tags:
      - partner-invoice-credit-note-controller
      operationId: getPartnerInvoiceCreditNoteReport
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      - name: predicate
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Predicate'
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: mobile
        in: query
        required: false
        schema:
          type: string
      - name: invoiceMonth
        in: query
        required: false
        schema:
          type: string
      - name: toDate
        in: query
        required: false
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        schema:
          type: string
      - name: parentPartnerInvoiceStatusFlowIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: status
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: regionalManagerIds
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponsePartnerInvoiceCreditNoteReportDto'
      summary: Get partner invoice credit note report
      x-summary-source: derived
  /invoice-status-flow:
    get:
      tags:
      - partner-invoice-credit-note-controller
      operationId: getInvoiceStatusFlow
      parameters:
      - name: type
        in: query
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceStatusFlowDto'
      summary: Get invoice status flow
      x-summary-source: derived
  /invoice-document-url/{dmsUploadId}:
    get:
      tags:
      - partner-invoice-credit-note-controller
      operationId: getInvoiceDocumentUrl
      parameters:
      - name: dmsUploadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserUploadedEventTempUrlDto'
      summary: Get invoice document url
      x-summary-source: derived
  /invoice-credit-note-dashboard:
    get:
      tags:
      - partner-invoice-credit-note-controller
      operationId: getPartnerInvoiceCreditNoteDashboard
      parameters:
      - name: partnerId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PartnerInvoiceCreditNoteDashboardDto'
      summary: Get partner invoice credit note dashboard
      x-summary-source: derived
components:
  schemas:
    InvoiceStatusFlowDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        disposition:
          type: string
        status:
          type: string
        type:
          type: string
    Predicate:
      type: object
    PartnerInvoiceCreditNoteReportDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        partnerId:
          type: integer
          format: int64
        vendorName:
          type: string
        vendorType:
          type: string
        gstNumber:
          type: string
        type:
          type: string
        invoiceNoteNumber:
          type: string
        parentStatus:
          type: string
        parentDisposition:
          type: string
        created:
          type: string
          format: date
        childStatus:
          type: string
        childDisposition:
          type: string
        amount:
          type: number
          format: double
        totalWithoutTax:
          type: number
          format: double
        totalGst:
          type: number
          format: double
        dateOfApproval:
          type: string
          format: date
        releaseDate:
          type: string
          format: date
        receivedDate:
          type: string
          format: date
        parentPartnerInvoiceStatusFlowId:
          type: integer
          format: int64
        childPartnerInvoiceStatusFlowId:
          type: integer
          format: int64
        dmsUploadId:
          type: string
        lastUpdatedById:
          type: integer
          format: int64
        lastApprovedById:
          type: integer
          format: int64
        month:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
    PageResponsePartnerInvoiceCreditNoteReportDto:
      type: object
      properties:
        total:
          type: integer
          format: int64
        data:
          type: array
          items:
            $ref: '#/components/schemas/PartnerInvoiceCreditNoteReportDto'
    PartnerInvoiceCreditNoteDashboardDto:
      type: object
      properties:
        type:
          type: string
        outStandingAmount:
          type: number
          format: double
        reports:
          type: array
          items:
            $ref: '#/components/schemas/PartnerInvoiceCreditNoteReportDto'
    ErrorContext:
      type: object
      properties:
        errorCode:
          type: string
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties:
            type: object
    UserUploadedEventTempUrlDto:
      type: object
      properties:
        tempUrl:
          type: string
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
  securitySchemes:
    AUTH-TOKEN:
      type: apiKey
      name: AUTH-TOKEN
      in: header
