openapi: 3.2.0
info:
  title: Learner Experience - Analytics Rest Service Admin…
  version: 1.0.0
servers:
- url: https://learner-analytics-rest.upgrad.com
  description: Generated server url
tags:
- name: admin-controller
paths:
  /admin/evict-cache/student-profile/{userId}:
    post:
      tags:
      - admin-controller
      summary: Evict Student Profile Cache for User
      description: Will return 1 if User-Cache found and evicted successfully, else will return 0
      operationId: evictStudentProfileCache
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '422':
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: integer
                format: int64
      security:
      - Authorization: []
  /admin/evict-cache/micro-interaction-notification:
    post:
      tags:
      - admin-controller
      description: Used to Evict Micro Interaction Notification Cache
      operationId: evictAllMicroInteractionCache
      responses:
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '422':
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
      security:
      - Authorization: []
      summary: Evict all micro interaction cache
      x-summary-source: derived
components:
  schemas:
    ErrorContext:
      type: object
      properties:
        status:
          type: integer
          format: int32
        messages:
          type: array
          items:
            type: string
  securitySchemes:
    Authorization:
      type: http
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
