openapi: 3.2.0
info:
  title: Partner Service Business Type Controller API
  license:
    name: Apache 2.0
    url: https://upgrad.com
  version: '1'
servers:
- url: https://partner.upgrad.com
  description: Generated server url
security:
- AUTH-TOKEN: []
tags:
- name: business-type-controller
paths:
  /business-type/add:
    post:
      tags:
      - business-type-controller
      operationId: addFormConfig_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBusinessTypeRequest'
        required: true
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      summary: Add form config 1
      x-summary-source: derived
  /business-type:
    get:
      tags:
      - business-type-controller
      operationId: fetchAll
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FetchBusinessTypeResponse'
      summary: Fetch all
      x-summary-source: derived
components:
  schemas:
    FetchBusinessTypeResponse:
      type: object
      properties:
        type:
          type: string
        typeValue:
          type: string
        iconUrl:
          type: string
    AddBusinessTypeRequest:
      type: object
      properties:
        type:
          type: string
        typeValue:
          type: string
        imageUrl:
          type: string
    ErrorContext:
      type: object
      properties:
        errorCode:
          type: string
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties:
            type: object
  securitySchemes:
    AUTH-TOKEN:
      type: apiKey
      name: AUTH-TOKEN
      in: header
