openapi: 3.2.0
info:
  title: Partner Service Learner Invoice Credit Note Controller API
  license:
    name: Apache 2.0
    url: https://upgrad.com
  version: '1'
servers:
- url: https://partner.upgrad.com
  description: Generated server url
security:
- AUTH-TOKEN: []
tags:
- name: learner-invoice-credit-note-controller
paths:
  /learner-inv-cn-details:
    get:
      tags:
      - learner-invoice-credit-note-controller
      operationId: getPartnerInvoiceCreditNoteReport_1
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      - name: predicate
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Predicate'
      - name: invoiceMonth
        in: query
        required: false
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseLearnerInvoiceCreditNoteDto'
      summary: Get partner invoice credit note report 1
      x-summary-source: derived
components:
  schemas:
    Predicate:
      type: object
    ErrorContext:
      type: object
      properties:
        errorCode:
          type: string
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties:
            type: object
    LearnerInvoiceCreditNoteDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        partnerInvoiceId:
          type: integer
          format: int64
        partnerId:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        program:
          type: string
        ppk:
          type: string
        totalCommissionAmount:
          type: number
          format: double
        commissionAmountWithoutGst:
          type: number
          format: double
        commissionRate:
          type: number
          format: double
        gstAmount:
          type: number
          format: double
        eligibleAmountWithoutGst:
          type: number
          format: double
        commissionRuleId:
          type: integer
          format: int64
        programVertical:
          type: string
        commissionRuleSlabId:
          type: integer
          format: int64
        firstTransactionDate:
          type: string
          format: date
        type:
          type: string
        leadOwner:
          type: string
        paymentBatch:
          type: string
          format: date
        currentBatch:
          type: string
          format: date
        paymentStatus:
          type: string
        eligibleAmount:
          type: number
          format: double
        businessName:
          type: string
        gstNumber:
          type: string
        leadOwnerName:
          type: string
        amountPaid:
          type: number
          format: double
        pgCharges:
          type: number
          format: double
        referralCharges:
          type: number
          format: double
        emailId:
          type: string
        nsp:
          type: number
          format: double
    PageResponseLearnerInvoiceCreditNoteDto:
      type: object
      properties:
        total:
          type: integer
          format: int64
        data:
          type: array
          items:
            $ref: '#/components/schemas/LearnerInvoiceCreditNoteDto'
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
  securitySchemes:
    AUTH-TOKEN:
      type: apiKey
      name: AUTH-TOKEN
      in: header
