openapi: 3.2.0
info:
  title: Partner Service Login List Upload Controller API
  license:
    name: Apache 2.0
    url: https://upgrad.com
  version: '1'
servers:
- url: https://partner.upgrad.com
  description: Generated server url
security:
- AUTH-TOKEN: []
tags:
- name: login-list-upload-controller
paths:
  /vpc-only/login-list:
    post:
      tags:
      - login-list-upload-controller
      operationId: saveLoginListUploadDetails
      parameters:
      - name: loginListUploadDetails
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/LoginListUploadDto'
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
      summary: Save login list upload details
      x-summary-source: derived
components:
  schemas:
    ErrorContext:
      type: object
      properties:
        errorCode:
          type: string
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties:
            type: object
    LoginListUploadDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        month:
          type: integer
          format: int32
        year:
          type: integer
          format: int32
        loginListPath:
          type: string
        status:
          type: string
          enum:
          - NEW
          - PROGRESS
          - ARCHIVE
  securitySchemes:
    AUTH-TOKEN:
      type: apiKey
      name: AUTH-TOKEN
      in: header
