openapi: 3.2.0
info:
  title: Partner Service Prospect Controller API
  license:
    name: Apache 2.0
    url: https://upgrad.com
  version: '1'
servers:
- url: https://partner.upgrad.com
  description: Generated server url
security:
- AUTH-TOKEN: []
tags:
- name: prospect-controller
paths:
  /vpc-only/prospect/{leadId}/{lsqEmail}:
    put:
      tags:
      - prospect-controller
      operationId: updateProspect
      parameters:
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      - name: lsqEmail
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
      summary: Update prospect
      x-summary-source: derived
  /prospect:
    get:
      tags:
      - prospect-controller
      operationId: getProspects
      parameters:
      - name: pageable
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/Pageable'
      - name: prospectFilter
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProspectFilterDto'
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageResponseProspectDto'
      summary: Get prospects
      x-summary-source: derived
    post:
      tags:
      - prospect-controller
      operationId: saveProspect
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProspectDto'
        required: true
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProspectDto'
      summary: Save prospect
      x-summary-source: derived
  /prospect/{prospectId}/lead/{leadId}:
    get:
      tags:
      - prospect-controller
      operationId: getProspect
      parameters:
      - name: prospectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: leadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '409':
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '405':
          description: Method Not Allowed
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorContext'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProspectDto'
      summary: Get prospect
      x-summary-source: derived
components:
  schemas:
    ProspectDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        leadId:
          type: string
        status:
          type: integer
          format: int32
        teamMemberId:
          type: integer
          format: int64
        goal:
          type: string
        fullName:
          type: string
        email:
          type: string
        mobile:
          type: integer
          format: int64
        countryCode:
          type: integer
          format: int32
        city:
          type: string
        course:
          type: string
        platform:
          type: string
        extraFields:
          type: object
          additionalProperties:
            type: object
        statusLabel:
          type: string
        created:
          type: string
          format: date-time
        memberDetail:
          $ref: '#/components/schemas/UserDto'
        university:
          type: string
        universityName:
          type: string
        courseName:
          type: string
    ErrorContext:
      type: object
      properties:
        errorCode:
          type: string
        messages:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties:
            type: object
    PageResponseProspectDto:
      type: object
      properties:
        total:
          type: integer
          format: int64
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProspectDto'
    UserDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        mobile:
          type: integer
          format: int64
        countryCode:
          type: integer
          format: int32
        fullName:
          type: string
        role:
          type: string
        alternateEmail:
          type: string
        password:
          type: string
        permission:
          type: string
    Pageable:
      type: object
      properties:
        page:
          minimum: 0
          type: integer
          format: int32
        size:
          minimum: 1
          type: integer
          format: int32
        sort:
          type: array
          items:
            type: string
    ProspectFilterDto:
      type: object
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        teamMemberId:
          type: integer
          format: int64
        teamMemberIds:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int64
        userId:
          type: integer
          format: int64
        leadId:
          type: string
        status:
          type: integer
          format: int32
        goal:
          type: array
          items:
            type: string
        fullName:
          type: string
        email:
          type: string
        mobile:
          type: integer
          format: int64
        countryCode:
          type: integer
          format: int32
        city:
          type: string
        course:
          type: string
        platform:
          type: string
  securitySchemes:
    AUTH-TOKEN:
      type: apiKey
      name: AUTH-TOKEN
      in: header
